<div class="row">
  <div class="col-xs-3">
    <h1>Tasks#edit</h1>
    <p>Find me in app/views/tasks/edit.html.erb</p>
  </div>
  <div class="col-xs-6">
    <%= render "task_form"%>
  </div>
  <div class="col-xs-3">
    <button>
      <%= link_to 'Delete', task_path(@task), method: :delete %>
    </button>
  </div>
</div>