<div class="row">
  <div class="col-xs-3">
    <div class="col-xs-offset-1">
      <h2>Tasks:</h2>
    </div>
  </div>
  <div class="col-xs-6">
    <%= render "index" %>
    <%= paginate @tasks %>
  </div>
  <div class="col-xs-3">
    <%= link_to 'Create task', new_task_path, data: { no_turbolink: true } %>
  </div>
</div>
