<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<% @tasks.each do |task| %>
  <p>
    <%= task.title %> |
    <%= task.user.email %> |
    <%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to 'Delete', task_path(task), method: :delete%>
  </p>
<% end %>