<div class="row">
  <div class="col-xs-3">
    <div class="col-xs-offset-1">
      <%= render "task_basic_information"%>
    </div>
  </div>
  <div class="col-xs-6">
    <%= render "detail_information" %>
  </div>  
  <div class="col-xs-3">
    <div "row">
      <div class="col-xs-9">
        <%= render "task_controls"%>
      </div>
    </div>
  </div>
</div>
