<div class="row">
  <div class="col-xs-2">
    <h1>Users</h1>
  </div>
  <div class="col-xs-7">
    <% @users.each do |user| %>
      <ul>
        <li><%= link_to user.email, user_path(user) %></li>
      </ul>
    <% end %>
  </div>
</div>

