<div class="row">
  <div class="col-xs-2">
    <div class="col-xs-offset-1">
      <h1>Users:</h1>
    </div>
  </div>
  <div class="col-xs-7">
    <%= render "index" %>
    <%= paginate @users %>
  </div>
</div>

