<h1>Users#index</h1>
<%= link_to 'Download PDF', download_image_path %>
<p>Find me in app/views/users/index.html.erb</p>
<% @users.each do |user| %>
  <%= link_to user.email, user_path(user) %>
  <p></p>
<% end %>
