<h3>Answers:</h3>
<% @task.answers.each do |answer|%>
  <div> 
    <%= answer.value %> | 
    <%= link_to 'Delete', answer_path(answer), method: :delete %> |
    <%= link_to 'Edit', edit_answer_path(answer), remote: true, class: "EditAnswerLink", id: answer.id %>  
  </div>
<% end %>