<h1>Answers#new</h1>
<p>Find me in app/views/answers/new.html.erb</p>

<%= simple_form_for @answer do |f| %>
  <%= f.input :value %>
  <%= f.hidden_field :task_id, value:  @task_id.to_i %>
  <%= f.button :submit %>
<% end %>

