<div class="row">
  <div class="col-xs-8">
    <div class="col-xs-offset-1">
      <h1>Main Page:<h1>
    </div>
  </div>
  <div class="col-xs-4">
    <% @tags = most_used_tags%>
    <%= render "tags/index" %>
  </div>
</div>